<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin-layout}">

	<th:block layout:fragment="content">

		<!-- Quản Lý Sản Phẩm -->
		<div class="products-content">

			<div class="block p-3">
				<h5 class="mb-2">Bộ lọc :</h5>
				<div class="row">
					<div class="form-group col-3">
						<select class="form-control" id="category">
							<option value=0>- Danh mục sản phẩm -</option>

							<th:block th:each="category : ${categories}">
								<option th:value="${category.id}"
									th:text="${category.categoryName}"></option>
							</th:block>

						</select>
					</div>
					<div class="form-group col-2">
						<select class="form-control" id="price">
							<option value=0>- Giá -</option>
							<option value=1>Tăng dần</option>
							<option value=2>Giảm dần</option>
						</select>
					</div>
					<div class="form-group col-2">
						<select class="form-control" id="amount">
							<option value=0>- Số lượng -</option>
							<option value=1>Tăng dần</option>
							<option value=2>Giảm dần</option>
						</select>
					</div>
					<div class="form-group col-2">
						<select class="form-control" id="status">
							<option value=0>- Trạng thái -</option>
							<option value=1>Còn hàng</option>
							<option value=2>Hết hàng</option>
							<option value=3>Chưa bán</option>
						</select>
					</div>
					<div class="form-check form-check-inline col-1">
						<input class="form-check-input" type="checkbox" id="highlight"
							value=1> <label class="form-check-label" for="highlight">Nổi
							bật</label>
					</div>
					<div class="form-check form-check-inline col-1">
						<input class="form-check-input" type="checkbox" id="isshowed"
							value=1> <label class="form-check-label" for="isshowed">Hiển
							thị</label>
					</div>
					<!-- <div class="form-group col-3 row">
						<label class="form-label col-3" for="fromDate">Từ</label> <input
							type="date" class="form-control col-9" id="fromDate">
					</div>
					<div class="form-group col-3 row">
						<label class="form-label col-3" for="toDate">Đến</label> <input
							type="date" class="form-control col-9" id="toDate">
					</div>
					<div class="form-group col-3">
						<select class="form-control" id="records">
							<option value=0>- Số bản ghi hiển thị -</option>
							<option value=25>25</option>
							<option value=50>50</option>
							<option value=75>75</option>
							<option value=100>100</option>
						</select>
					</div> -->

					<div class="form-group col-11 form-search">
						<input class="form-control" type="text"
							placeholder="Nhập tên tìm kiếm.." id="keyword"> <span>
							<i class="fas fa-search" aria-hidden="true"></i>
						</span>
					</div>
				</div>

				<div class="text-center">
					<button type="button" class="btn btn-warning btn-sm"
						id="btn-search">Tìm kiếm</button>
				</div>
			</div>

			<div class="block mt-4">
				<div class="col-12">
					<div class="mt-2 mb-2 float-right">

						<a class="btn btn-success btn-smtext-white btn-sm"
							href="/Admin/Product/Create" th:href="@{/Admin/Product/Create}"><span>Thêm
								mới</span> <span class="1 text-white"> <i
								class="fas fa-plus mt-1"></i>
						</span></a>


						<button type="button" class="btn btn-primary btn-sm ms-center">
							<i class="fas fa-redo-alt"></i> <span>Làm mới</span>
						</button>
					</div>
				</div>
				<table class="table table-hover" style="position: relative;">
					<thead>
						<tr>
							<th scope="col" style="white-space: nowrap;">Mã</th>
							<th scope="col" style="white-space: nowrap;">Danh mục</th>
							<th scope="col" style="white-space: nowrap;">Tên sản phẩm</th>
							<th scope="col" style="white-space: nowrap;">Hình ảnh</th>
							<th scope="col" style="white-space: nowrap;">Nổi bật</th>
							<th scope="col" style="white-space: nowrap;">Hiển thị</th>
							<th scope="col" style="white-space: nowrap;">Nội dung</th>
							<th scope="col" style="white-space: nowrap;">Thao tác</th>
						</tr>
					</thead>
					<tbody id="tbody">
						<!-- Product List Insert -->
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination" id="pagination">
						<li class="page-item"><a href="javascript:void(0)"
							class="page-link" data-page-idx=-1>Trước</a></li>
						<li class="page-item active"><a href="javascript:void(0)"
							class="page-link" data-page-idx=1>1</a></li>
						<li class="page-item"><a href="javascript:void(0)"
							class="page-link" data-page-idx=2>2</a></li>
						<li class="page-item"><a href="javascript:void(0)"
							class="page-link" data-page-idx=3>3</a></li>
						<li class="page-item"><a href="javascript:void(0)"
							class="page-link" data-page-idx=+1>Sau</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- End -->

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript">
		
			// Formatter VND
			const formatter = new Intl.NumberFormat('it-IT', {
		    	style: 'currency',
		    	currency: 'VND',
		    	minimumFractionDigits: 0
			})
		
			window.onload = loadProductList();
			
			let btn_search = document.getElementById('btn-search');
			btn_search.addEventListener('click', loadProductList);
			
			function loadProductList() {
				let category = document.getElementById('category');
				let price = document.getElementById('price');
				let amount = document.getElementById('amount');
				let status = document.getElementById('status');
				let highlight = document.getElementById('highlight');
				(highlight.checked) ? highlight.value = 1 : highlight.value = 0;
				let isshowed = document.getElementById('isshowed');
				(isshowed.checked) ? isshowed.value = 1 : isshowed.value = 0;
				/* let fromDate = document.getElementById('fromDate');
				let toDate = document.getElementById('toDate');
				let records = document.getElementById('records'); */
				let keyword = document.getElementById('keyword');
				let labelPage = document.getElementsByClassName("page-item active")[0];
				let currentPage = labelPage.childNodes[0].getAttribute('data-page-idx');
				
				let searchForm = {
					category: category.value,
					price: price.value,
					amount: amount.value,
					status: status.value,
					highlight: highlight.value,
					isshowed: isshowed.value,
					/* fromDate: fromDate.value,
					toDate: toDate.value,
					records: records.value, */
					keyword: keyword.value,
					currentPage: currentPage
				};
				
				console.table(searchForm);
				
				axios.post('/Admin/Product/List', searchForm)
				  .then(function (response) {
					  console.log(response.data);
				      renderProducts(response.data);
				  })
				  .catch(function (error) {
				    console.log(error);
				  });
			}
			
			function renderProducts(products) {
				let tbody = document.getElementById('tbody');
				let contents = '';
				
				if (products.length === 0) {
					contents = `
						<tr>
							<td colspan="9">Không tồn tại sản phẩm theo tìm kiếm.</td>
						</tr>
					`;
					tbody.innerHTML = contents;
					return ;
				}
				
				/* console.log(products[0].highlight);
				console.log(products[0].isshowed); */
				products.forEach(product => {
					contents += `
						<tr>
						<th scope="row">${"P-" + product.productCode + "FS"}</th>
						<td>${product.categoryName}</td>
						<td>${product.productName}</td>
						<td>
							<img width=100 height=120 src="/images/${product.imageUrl}" alt="${product.imageAlt}">
						</td>
						<td class="text-center">
							${product.highlight === true ? '<i class="far fa-check-circle text-success"></i>' : '<i class="fas fa-times text-danger"></i>'}
						</td>
						<td class="text-center">
							${product.isshowed === true ? '<i class="fas fa-eye"></i>' : '<i class="fas fa-eye-slash"></i>'}
						</td>
						<td>
							<ul>
								<li>
									<a href="javascript:void(0)">
										Click để xem chi tiết !
										<span> 
											<i class="fas fa-mouse-pointer"></i>
										</span>
									</a>
								</li>
								<ul class="text-left bg-primary p-2 text-white">
									<li>Giá gốc: ${formatter.format(product.price)}</li>
									<li>Giá bán: ${formatter.format(product.price - product.price*product.promotionValue/100)} (${product.promotionValue}%)</li>
									<li>Ngày tạo : ${product.createDate}</li>
									<li>Số lượng : ${product.amount}</li>
									<li>Trạng thái : ${product.productStatus}</li>
								</ul>
							</ul>
						</td>
						<td>
							<a href="/Admin/Product/ProductCreateOrUpdate/productId=${product.productId}" class="fas fa-edit"></a> 
							<a href="" class="fa fa-trash-alt"></a>
						</td>
					</tr>
					`;
				})
				
				tbody.innerHTML = contents;
			}
			
			
			// PAGINATION
			
			let paginationUl = document.getElementById('pagination');
			
			paginationUl.addEventListener('click', function(event) {
				let elactive = paginationUl.getElementsByClassName("page-item active")[0];
				let el = event.target.parentElement;
				if(el.matches('.page-item')) {
					elactive.classList.remove("active");
					console.log(el.getAttribute("data-page-idx"));
					el.classList.add("active");
					loadProductList();
				}
			});
			
		</script>

	</th:block>

</th:block>