<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin-layout}">

	<th:block layout:fragment="content">

		<!-- Khuyến mãi - Giảm giá -->
		<div>
			<div class="promotion">
				<h6>Khuyến mãi</h6>
				<div class="row">
					<div class="col-12">
						<div class="float-right mr-2">
							<button type="button" class="btn btn-success btn-sm"
								id="btn_show_add">
								<i class="fas fa-plus"></i> <span>Thêm mới</span>
							</button>
						</div>

					</div>
					<div class="block col-3">
						<h6>Mã giảm giá</h6>
						<p>LDK91</p>
						<p>Chương trình khuyến mãi giảm giá các sản phẩm người mua
							thường xem</p>
					</div>
					<div class="block col-3">
						<h6>Mã giảm giá</h6>
						<p>LDK91</p>
						<p>Chương trình khuyến mãi giảm giá các sản phẩm người mua
							thường xem</p>
					</div>
					<div class="block col-3">
						<h6>Mã giảm giá</h6>
						<p>LDK91</p>
						<p>Chương trình khuyến mãi giảm giá các sản phẩm người mua
							thường xem</p>
					</div>
					<div class="block col-3">
						<h6>Mã giảm giá</h6>
						<p>LDK91</p>
						<p>Chương trình khuyến mãi giảm giá các sản phẩm người mua
							thường xem</p>
					</div>
				</div>
			</div>
			<div class="discount">
				<h5>Mã giảm giá</h5>
				<div class="row">
					<div class="col-12">
						<div class="float-right mr-2">
							<button type="button" class="btn btn-success btn-sm"
								id="btn_show_add">
								<i class="fas fa-plus"></i> <span>Thêm mới</span>
							</button>
						</div>

					</div>
					<div class="block col-3">
						<h6>Mã giảm giá</h6>
						<p>LDK91</p>
						<p>Chương trình khuyến mãi giảm giá các sản phẩm người mua
							thường xem</p>
					</div>
					<div class="block col-3">
						<h6>Mã giảm giá</h6>
						<p>LDK91</p>
						<p>Chương trình khuyến mãi giảm giá các sản phẩm người mua
							thường xem</p>
					</div>
					<div class="block col-3">
						<h6>Mã giảm giá</h6>
						<p>LDK91</p>
						<p>Chương trình khuyến mãi giảm giá các sản phẩm người mua
							thường xem</p>
					</div>
					<div class="block col-3">
						<h6>Mã giảm giá</h6>
						<p>LDK91</p>
						<p>Chương trình khuyến mãi giảm giá các sản phẩm người mua
							thường xem</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End -->

	</th:block>

</th:block>