
<div class="cms-icon-menu" xmlns:th="http://www.thymeleaf.org">
	<div class="row cms-icon-menu text-center">
		<div class="col-3">
			<div>
				<a href=""> <img src="images/Fpointstore.png" alt="">
				</a>
			</div>
			<div class="cms-icon-menu-item-name">Fpoint Store</div>
		</div>
		<div class="col-3">
			<div>
				<a href=""> <img src="images/dacquyen.png" alt="">
				</a>
			</div>
			<div class="cms-icon-menu-item-name">Thành Viên</div>
		</div>
		<div class="col-3">
			<div>
				<a href=""> <img src="images/review.png" alt="">
				</a>
			</div>
			<div class="cms-icon-menu-item-name">F-Blog</div>
		</div>
		<div class="col-3">
			<div>
				<a href=""> <img src="images/goiy.png" alt="">
				</a>
			</div>
			<div class="cms-icon-menu-item-name">Gợi Ý Cho Bạn</div>
		</div>
	</div>
</div>