<div class="feature" xmlns:th="http://www.thymeleaf.org">
	<div class="feature-header">
		<div class="feature-title ml-2">
			<h5>Nổi Bật</h5>
		</div>
		<div class="feature-categories">
			<ul class="nav-links">
				<li>Sách Hay Nổi Bật</li>
				<li>Sách HOT - Giảm Sốc</li>
				<li>Bestseller Ngoại Văn</li>
			</ul>
		</div>
	</div>
	<div class="feature-products">
		<div class="row">
			<div class="col-md-2">
				<div class="product-box">
					<div class="label-pro-sale">
						<span class="p-sale-label">40%</span>
					</div>
					<div class="box-content">
						<div class="product-image">
							<a href="#"> <img src="images/image_175155.jpg" alt=""
								height="220">
							</a>
						</div>
						<div class="product-name">
							<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
								bao giờ hôn bố mẹ chưa ?</a>
						</div>
						<div class="product-label-price">
							<p class="special-price">
								<span class="price">53.400đ</span>
							</p>
							<p class="old-price">
								<span class="price">89.000đ</span>
							</p>
						</div>
						<div class="product-rate">
							<div>******</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="product-box">
					<div class="label-pro-sale">
						<span class="p-sale-label">40%</span>
					</div>
					<div class="box-content">
						<div class="product-image">
							<a href="#"> <img src="images/image_175155.jpg" alt=""
								height="220">
							</a>
						</div>
						<div class="product-name">
							<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
								bao giờ hôn bố mẹ chưa ?</a>
						</div>
						<div class="product-label-price">
							<p class="special-price">
								<span class="price">53.400đ</span>
							</p>
							<p class="old-price">
								<span class="price">89.000đ</span>
							</p>
						</div>
						<div class="product-rate">
							<div>******</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="product-box">
					<div class="label-pro-sale">
						<span class="p-sale-label">40%</span>
					</div>
					<div class="box-content">
						<div class="product-image">
							<a href="#"> <img src="images/image_175155.jpg" alt=""
								height="220">
							</a>
						</div>
						<div class="product-name">
							<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
								bao giờ hôn bố mẹ chưa ?</a>
						</div>
						<div class="product-label-price">
							<p class="special-price">
								<span class="price">53.400đ</span>
							</p>
							<p class="old-price">
								<span class="price">89.000đ</span>
							</p>
						</div>
						<div class="product-rate">
							<div>******</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="product-box">
					<div class="label-pro-sale">
						<span class="p-sale-label">40%</span>
					</div>
					<div class="box-content">
						<div class="product-image">
							<a href="#"> <img src="images/image_175155.jpg" alt=""
								height="220">
							</a>
						</div>
						<div class="product-name">
							<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
								bao giờ hôn bố mẹ chưa ?</a>
						</div>
						<div class="product-label-price">
							<p class="special-price">
								<span class="price">53.400đ</span>
							</p>
							<p class="old-price">
								<span class="price">89.000đ</span>
							</p>
						</div>
						<div class="product-rate">
							<div>******</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="product-box">
					<div class="label-pro-sale">
						<span class="p-sale-label">40%</span>
					</div>
					<div class="box-content">
						<div class="product-image">
							<a href="#"> <img src="images/image_175155.jpg" alt=""
								height="220">
							</a>
						</div>
						<div class="product-name">
							<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
								bao giờ hôn bố mẹ chưa ?</a>
						</div>
						<div class="product-label-price">
							<p class="special-price">
								<span class="price">53.400đ</span>
							</p>
							<p class="old-price">
								<span class="price">89.000đ</span>
							</p>
						</div>
						<div class="product-rate">
							<div>******</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="product-box">
					<div class="label-pro-sale">
						<span class="p-sale-label">40%</span>
					</div>
					<div class="box-content">
						<div class="product-image">
							<a href="#"> <img src="images/image_175155.jpg" alt=""
								height="220">
							</a>
						</div>
						<div class="product-name">
							<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
								bao giờ hôn bố mẹ chưa ?</a>
						</div>
						<div class="product-label-price">
							<p class="special-price">
								<span class="price">53.400đ</span>
							</p>
							<p class="old-price">
								<span class="price">89.000đ</span>
							</p>
						</div>
						<div class="product-rate">
							<div>******</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
