
<footer xmlns:th="http://www.thymeleaf.org" style="background-color: #F0F0F0;">
	<div class="footer-static">
		<div class="container-1">
			<div style="padding: 40px 0 50px 0; background-color: #fff;">
				<div class="row">
					<div class="col-4">
						<div>
							<div class="footer-logo">
								<img src="images/logo.png" alt="FAHASA.COM">
							</div>
							<div class="address-footer pl-2">
								<div>Lầu 7, 387-389 Hai Bà Trưng Quận 3 TP HCM</div>
								<div>Công Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA</div>
								<div>60 - 62 Lê Lợi, Quận 1,TP. HCM, Việt Nam</div>
								<div style="font-size: 13px; padding-top: 5px;">Fahasa.com
									nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt
									mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ
									Thống Fahasa trên toàn quốc.</div>
							</div>
							<div class="bct-active pl-2" style="margin: 15px 0px;">
								<img src="images/logo-bo-cong-thuong-da-thong-bao.png" alt=""
									width="100" height="40">
							</div>
							<div class="social pl-2"></div>
							<div class="store-app pl-2"
								style="display: flex; justify-content: space-around;">
								<div>
									<img src="images/android.png" alt="" style="max-width: 110px;">
								</div>
								<div>
									<img src="images/appstore.png" alt="" style="max-width: 110px;">
								</div>
							</div>
						</div>
					</div>
					<div class="col-8">
						<div class="row">
							<div class="col-4">
								<div class="footer-static-title">
									<h5>DỊCH VỤ</h5>
								</div>
								<div class="footer-static-content">
									<ul>
										<li>Điều khoản sử dụng</li>
										<li>Chính sách bảo mật</li>
										<li>Giới thiệu Fahasa</li>
										<li>Hệ thống trung tâm - nhà sách</li>
									</ul>
								</div>
							</div>
							<div class="col-4">
								<div class="footer-static-title">
									<h5>HỖ TRỢ</h5>
								</div>
								<div class="footer-static-content">
									<ul>
										<li>Chính sách đổi - trả - hoàn tiền</li>
										<li>Chính sách khách sỉ</li>
										<li>Phương thức vận chuyển</li>
										<li>Phương thức thanh toán</li>
									</ul>
								</div>
							</div>
							<div class="col-4">
								<div class="footer-static-title">
									<h5>TÀI KHOẢN CỦA TÔI</h5>
								</div>
								<div class="footer-static-content">
									<ul>
										<li>Đăng nhập/Tạo mới tài khoản</li>
										<li>Thay đổi địa chỉ khách hàng</li>
										<li>Chi tiết tài khoản</li>
										<li>Lịch sử mua hàng</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="footer-static-title">
							<h5>LIÊN HỆ</h5>
						</div>
						<div class="row">
							<div class="col-4">
								<i class="fas fa-map-marker-alt"></i> 60-62 Lê Lợi, Q.1, TP. HCM
							</div>
							<div class="col-4">
								<i class="far fa-envelope"></i> info@fahasa.com
							</div>
							<div class="col-4">
								<i class="fas fa-phone-alt"></i> 1900636467
							</div>

						</div>
						<div class="row" style="margin-left: -20px;">
							<div class="col-3" align="center"
								style="padding: 30px; text-align: right;">
								<img src="images/Ninja-1.png" alt="" style="max-width: 100%;">
							</div>
							<div class="col-3" align="center"
								style="padding: 30px; text-align: right;">
								<img src="images/Speedlink-1.png" alt=""
									style="max-width: 100%;">
							</div>
							<div class="col-3" align="center"
								style="padding: 30px; text-align: right;">
								<img src="images/logo-Kerry-172x40.png" alt=""
									style="max-width: 100%;">
							</div>
							<div class="col-3" align="center"
								style="padding: 30px; text-align: right;">
								<img src="images/ZaloPay-logo-130x83.png" alt=""
									style="max-width: 100%;">
							</div>
						</div>
					</div>
				</div>
				<div class="text-center" style="text-align: center;">
					<div class="text-center"
						style="color: #adadad; padding-left: 14px; text-align: center;">
						Giấy chứng nhận Đăng ký Kinh doanh số **0304132047** do Sở Kế
						hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 28/11/2012.</div>
				</div>
			</div>
		</div>
	</div>
</footer>