<th:block  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div class="header-1">
	<div class="top-link top-banner">
		<div class="top-banner-block">
			<p>
				<a href="#"> <img
					th:src="@{/images/trang-tuan-2-ccgcvs-rs-1263x80.png}"
					alt="mua-cang-nhieu-giam-cang-cao">
				</a>
			</p>
		</div>
	</div>
	<div class="container-1">
		<div class="wrapper">
			<div class="topbar">
				<div class="row">
					<div class="col-5 header-left">
						<ul class="nav-links">
							<li><span>info@fahasa.com</span></li>
							<li><span>|</span></li>
							<li><span>1900636467</span></li>
						</ul>
					</div>
					<div class="col-7 header-right">
						<div class="languages pull-right ">
							<ul class="nav-links">
								<li><img th:src="@{/images/default.png}" alt="VN"></li>
								<li><img th:src="@{/images/english.png}" alt="EN"></li>
							</ul>
						</div>
						<div class="account pull-right" style="padding-top: 5px;" sec:authorize="isAnonymous()">
							<ul class="nav-links">
								<li>
									<div id="signup">
										<img th:src="@{/images/ico_thoat.png}"> <a href="javascript:void(0)"
											title="Tạo tài khoản">Tạo tài khoản</a>
									</div>
								</li>
								<li>
									<div id="signin">
										<img th:src="@{/images/ico_dangnhap.png}"> <a href="javascript:void(0)"
											title="Đăng nhập">Đăng nhập</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="account pull-right" style="padding-top: 5px;" sec:authorize="isAuthenticated()">
							<ul class="nav-links">
								<li>
									<div id="signup">
										<img th:src="@{/images/ico_thoat.png}"> <a href="/customer/account"
											title="tài khoản">Tài khoản</a>
									</div>
								</li>
								<li>
									<div id="signin">
										<img th:src="@{/images/ico_dangnhap.png}"> <a href="javascript:void(0)"
											title="Đăng nhập">Thoát</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="header-main">
				<div class="header-top">
					<div class="row">
						<div class="col-3">
							<div class="logo-store">
								<a href="/" title="FAHASA.COM" class="logo"> <img
									th:src="@{/images/logo.png}" alt="FAHASA.COM">
								</a>
							</div>
						</div>
						<div class="col-7">
							<div class="search-box">
								<div class="search-input">
									<div class="search">
										<input type="text" name="q" id="search"
											placeholder="Tìm kiếm sản phẩm mong muốn..."> <span
											class="button-search fas fa-search"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-2">
							<a href="/kiem-tra-gio-hang">
							<div class="cart-top">
								<div class="cart-icon">
									<i class="fa fa-shopping-bag fa-lg"></i>
									<div class="cart-total" th:text="${cartTotal}">
									 
									</div>
								</div>
								<div class="cart-title">
									<p>GIỎ HÀNG</p>
								</div>
								<div class="cart-content">
									<div class="cart-contain">
									<th:block th:if="${carts} == null">
										<div>
											<p>Không có sản phẩm nào trong giỏ.</p>
										</div>
									</th:block>
									<th:block th:each="product : ${carts}" th:if="${carts} != null">
										<div class="row">
											<div class="col-2">
												<img
													th:src="@{/images/{image}(image=${product.productImage})}"
													alt="" style="width: 50px; height: 70px;">
											</div>
											<div class="col-10">
												<p th:text="${product.productName}">Hãy cùng cá voi xanh ngắm biển nào !</p>
												
												<p th:text="${product.productPrice}">100.000 đ</p>
											</div>
										</div>
									</th:block>
									</div>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</th:block>