<th:block xmlns:th="http://www.thymeleaf.org">

	<div class="products-suggestion">
		<h3 class="text-center">Gợi ý cho bạn</h3>
		<div class="categories-suggestion">
			<ul class="nav-links">
				<li>Tất Cả</li>
				<li>Bán Chạy</li>
				<li>Văn Học</li>
				<li>Kinh Tế</li>
			</ul>
		</div>
		<div class="product-suggestion-contents">
			<div class="row">
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-name">
								<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
									bao giờ hôn bố mẹ chưa ?</a>
							</div>
							<div class="product-label-price">
								<p class="special-price">
									<span class="price">53.400đ</span>
								</p>
								<p class="old-price">
									<span class="price">89.000đ</span>
								</p>
							</div>
							<div class="product-rate">
								<div>******</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">

		
	
	</script>

</th:block>


