
<div class="series" xmlns:th="http://www.thymeleaf.org">
	<div class="feature-header">
		<div class="feature-title ml-2">
			<h5>DIARY SERIES</h5>
		</div>
		<div class="feature-categories">
			<ul class="nav-links">
				<li>New Fiction</li>
				<li>New Self-help Books</li>
				<li>New Business Books</li>
			</ul>
		</div>
	</div>
	<div class="series-contents">
		<div class="series-left">
			<div class="row">
				<div class="col-md-6">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-right">
								<div class="product-name">
									<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
										bao giờ hôn bố mẹ chưa ?</a>
								</div>
								<div class="product-label-price">
									<p class="special-price">
										<span class="price">53.400đ</span>
									</p>
									<p class="old-price">
										<span class="price">89.000đ</span>
									</p>
								</div>
								<div class="product-rate">
									<div>******</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-right">
								<div class="product-name">
									<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
										bao giờ hôn bố mẹ chưa ?</a>
								</div>
								<div class="product-label-price">
									<p class="special-price">
										<span class="price">53.400đ</span>
									</p>
									<p class="old-price">
										<span class="price">89.000đ</span>
									</p>
								</div>
								<div class="product-rate">
									<div>******</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-right">
								<div class="product-name">
									<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
										bao giờ hôn bố mẹ chưa ?</a>
								</div>
								<div class="product-label-price">
									<p class="special-price">
										<span class="price">53.400đ</span>
									</p>
									<p class="old-price">
										<span class="price">89.000đ</span>
									</p>
								</div>
								<div class="product-rate">
									<div>******</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="product-box">
						<div class="label-pro-sale">
							<span class="p-sale-label">40%</span>
						</div>
						<div class="box-content">
							<div class="product-image">
								<a href="#"> <img src="images/image_175155.jpg" alt=""
									height="220">
								</a>
							</div>
							<div class="product-right">
								<div class="product-name">
									<a href="#" title="Bạn đã bao giờ hôn bố mẹ chưa ?">Bạn đã
										bao giờ hôn bố mẹ chưa ?</a>
								</div>
								<div class="product-label-price">
									<p class="special-price">
										<span class="price">53.400đ</span>
									</p>
									<p class="old-price">
										<span class="price">89.000đ</span>
									</p>
								</div>
								<div class="product-rate">
									<div>******</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="series-right">
			<img src="images/New-Arrivals-T11_350x415.jpg" alt="">
		</div>
	</div>

</div>