<div class="typical" xmlns:th="http://www.thymeleaf.org">
	<div class="typical-title text-center">
		<h3>TÁC GIẢ - TÁC PHẨM TIÊU BIỂU</h3>
	</div>
	<div class="typical-contents">
		<div class="author">
			<div class="row">
				<div class="col-4">
					<img src="images/jkrowning.png" alt="">
					<div>J.K Rowling</div>
				</div>
				<div class="col-4">
					<img src="images/nguyennhatanh.png" alt="">
					<div>Nguyễn Nhật Ánh</div>
				</div>
				<div class="col-4">
					<img src="images/rosie-nguyen.png" alt="">
					<div>Roise Nguyễn</div>
				</div>
			</div>
		</div>
		<div class="creature">
			<div class="row">
				<div class="col-4">
					<img src="images/2.png" alt="">
					<div>Lớp Học Mật Ngữ</div>
				</div>
				<div class="col-4">
					<img src="images/3.png" alt="">
					<div>Thần Tượng K-POP</div>
				</div>
				<div class="col-4">
					<img src="images/4.png" alt="">
					<div>Sách Chuyển Thể Thành Film</div>
				</div>
			</div>
		</div>
	</div>
</div>