<th:block xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client-layout}">


	<th:block layout:fragment="content">

		<link rel="stylesheet" th:href="@{/css/product-detail.css}">

		<!-- =============================== [HEADER] =================================-->
		<section class="header" id="header">

			<!-- * Header 1 * -->
			<th:block layout:insert="~{fragments/client/header}" />

			<!-- * Header-Breadcrumbs * -->
			<!-- <th:block layout:insert="~{fragments/client/header-breadcrumb}" /> -->

		</section>
		<!-- =============================== [END] ====================================-->

		<!-- =============================== [MAIN-CONTAINER] =========================-->
		<div class="main-container" id="main-container">
			<div class="container-1">
				<div class="container-inner">
				
					<!-- * LOGIN * -->
					<th:block layout:insert="~{fragments/client/login}" />
				
					<div class="category-products">

						<!-- * Breadcrumb * -->
						<div class="breadcrumb">
							<ul style="display: flex;">
								<li class="home"><a href="https://www.fahasa.com/"
									title="Tới trang chủ">Trang chủ</a> <span>/ </span></li>
								<li class="category4"><strong>Sách tiếng Việt</strong></li>
							</ul>
						</div>

						<!-- * Product Detail Container * -->
						<div class="product-view">
							<div class="row">
								<div class="product-essential col-9 row">
									<div class="col-5">
										<img th:src="@{/images/{image}(image=${product.imageUrl})}"
											alt="" id="productImage"
											th:attr="data-src=${product.imageUrl}">

										<div class="more-views">
											<div class="row">
												<div class="lightgallery"></div>
											</div>
										</div>
									</div>

									<div class="col-7">
										<h1 th:text="${product.productName}" id="productName"></h1>
										<div class="view-rate row"></div>
										<div class="price-block row">
											<div class="price-block-left col-7">
												<div class="price-box">
													<span class="price-label">Giá bán: </span> <span
														class="price" id="productPrice"
														th:attr="data-price=${product.productPrice}"
														th:text="${product.productPrice}" style="font-size: 18px;">
													</span> <br /> <span class="price-label">Giá bìa: </span> <span
														class="old-price" th:text="${product.productFinalprice}">
													</span>
												</div>
											</div>
											<div class="price-block-right col-3">
												<span class="discount-percent"> -<th:block
														th:text="${product.promotionValue}"></th:block>%
												</span>
											</div>
										</div>


										<div id="catalog-product-details-discount">
											<div class="product-view-quantity-box">
												<label for="productAmount">Số lượng:</label>
												<div class="product-view-quantity-box-block">
													<a class="btn-subtract-qty"><img
														style="width: 12px; height: auto;"
														src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_minus2x.png"></a>
													<input type="text" name="qty" id="productAmount"
														maxlength="12" align="center" value="1" title="SL"
														class="input-text qty"> <a class="btn-add-qty"><img
														style="width: 12px; height: auto;"
														src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_plus2x.png"></a>
												</div>
											</div>

											<button type="button" title="Chọn mua"
												class="button btn-cart-view" id="addToCart"
												th:attr="data-id=${product.productId}">
												<span> <span> <i class="fa fa-shopping-cart"></i>Chọn
														mua
												</span></span>
											</button>
										</div>


										<div class="additional-list row">
											<div class="col-4">
												<ul class="add-to-links">
													<li><a
														href="https://www.fahasa.com/wishlist/index/add/product/223409/form_key/mz64hdWVO7xtayVi/"
														class="link-wishlist" data-original-title="Yêu thích"
														rel="tooltip"><i class="fa fa-heart"></i>Yêu thích</a></li>

												</ul>
											</div>
											<div class="col-7">
												<a href="#review-form"><i class="fa fa-edit"></i>Thêm
													nhận xét của bạn</a>
											</div>
										</div>


										<div class="short-description">
											<span
												style="font-weight: bold; color: black; font-size: 13px; font-family: Roboto, Helvetica, Arial, sans-serif">20
												Hành Trang Cho Chuyến Xe Tuổi 20s. Cuốn sách 20 hành trang
												cho chuyến</span> xe tuổi 20s của tác giả Nguyễn Mai Đức chắc chắn
											không giống những cuốn sách self –help khác. Với lối viết
											chân phương nhưng nhẹ nhàng và gần gũi, tác giả bình tĩnh dẫn
											dắt bạn đọc qua 20 chương "tuyệt đỉnh bí kíp" được gói gọn
											trong đúng bốn chữ: "học", "làm", "sống" và "đi". Tuổi trẻ là
											lúc ta sung ... <a
												href="https://www.fahasa.com/20-hanh-trang-cho-chuyen-xe-tuoi-20s.html#product_tabs_description_contents"
												class="xem-chi-tiet">Xem thêm</a>

										</div>
									</div>
								</div>
								<div class="product-essential-left col-3">
									<div class="block-note-product">
										<div class="product-attribute">
											<label>Tên Nhà Cung Cấp:</label> <a class="xem-chi-tiet"
												href="alpha-books">Alpha Books</a>
										</div>
										<div class="product-attribute">
											<label>Hình thức:</label> Bìa Mềm
										</div>
										<div class="product-attribute">
											<label>Tình trạng:</label> Còn hàng
										</div>
										<!--show static block: block-note-product-->
										<div class="product-attribute col-sms-6">
											<div class="item">
												<em class="fa"
													style="font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif; font-weight: bold;">F</em>
												<span><a href="http://www.fahasa.com/thanh-vien">Đặc
														Quyền Thành Viên</a></span>
											</div>
											<div class="item">
												<em class="fa fa-home"></em> <span><a
													href="http://www.fahasa.com/chinh-sach-khach-si">Chính
														Sách Khách Sỉ</a></span>
											</div>
											<div class="item">
												<em class="fa fa-truck"></em> <span><a
													href="http://www.fahasa.com/phuong-thuc-van-chuyen">Thời
														Gian Giao Hàng</a></span>
											</div>
											<div class="item">
												<em class="fa fa-book"></em> <span><a
													href="http://www.fahasa.com/doi-tra-hang">Chính Sách
														Đổi Trả</a></span>
											</div>
										</div>

										<div class="product-attribute last col-sms-6">
											<ul
												style="text-align: justify; line-height: 22px; font-family: Roboto-Regular, 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif">
												<li><a style="font-weight: bold; color: #f7941e;"
													href="https://www.fahasa.com/top-100-best-seller">TOP
														100 SÁCH BÁN CHẠY</a>&nbsp;</li>
												<li><a style="font-weight: bolder; color: black;"
													href="http://www.fahasa.com/dieu-kien-dung-ma-giam-gia">Thông
														tin mã giảm giá</a></li>
												<li><a style="font-weight: bolder; color: black;"
													href="http://www.fahasa.com/membership">Ưu đãi Học Sinh
														Sinh Viên</a></li>
												<li><a style="font-weight: bolder; color: black;"
													href="https://www.fahasa.com/review-hay-nhan-ngay-fpoint">Review
														Hay - Nhận F-Point</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="content" style="margin-top: 10px;">
							<div id="product_view_tab" style="background-color: #fff; padding: 10px;">
								<div>
									<ul id="product-view-tab_list" class="product-view-tab">
										<li
											class="product-view-tab-item product-view-tab-info-item active"><a>Thông
												tin sản phẩm</a>
											<hr></li>
										<!-- <li
											class="product-view-tab-item product-view-tab-review-item "><a>Khách
												Hàng Nhận Xét</a>
											<hr></li> -->
									</ul>
								</div>
								<div id="product_view_tab_content_ad"
									class="product_view_tab_content_ad"
									style="height: 620px; min-height: 620px;">

									<div class="product_view_tab_content_additional">
										<table class="data-table table-additional">
											<colgroup>
												<col width="25%">
												<col>
											</colgroup>
											<tbody>
												<tr>
													<th class="table-label">Mã hàng</th>
													<td class="data">8936067597035</td>
												</tr>
												<tr>
													<th class="table-label">Tên Nhà Cung Cấp</th>
													<td class="data"><a class="xem-chi-tiet"
														href="minh-long"> Minh Long </a></td>
												</tr>
												<tr>
													<th class="table-label">Tác giả</th>
													<td class="data">Lilian Yeo</td>
												</tr>
												<tr>
													<th class="table-label">NXB</th>
													<td class="data">NXB Đại Học Quốc Gia Hà Nội</td>
												</tr>
												<tr>
													<th class="table-label">Năm XB</th>
													<td class="data">02-2017</td>
												</tr>
												<tr>
													<th class="table-label">Trọng lượng (gr)</th>
													<td class="data">150</td>
												</tr>
												<tr>
													<th class="table-label">Kích thước</th>
													<td class="data">19 x 26</td>
												</tr>
												<tr>
													<th class="table-label">Số trang</th>
													<td class="data">128</td>
												</tr>
												<tr>
													<th class="table-label">Hình thức</th>
													<td class="data">Bìa Mềm</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="clear"></div>
									<div id="product_tabs_description_contents">
										<div id="desc_content" class="std">
											<p style="text-align: justify;">Tinh Thông Toán Học -
												Mastering Mathematics - Dành Cho Trẻ 11-12 Tuổi - Quyển A</p>
											<p style="text-align: justify;">
												<strong><span>TINH THÔNG TOÁN HỌC Mastering
														Mathematics</span></strong><span>&nbsp;là một bộ sách gồm 12 cuốn,
													đặc biệt được biên soạn để việc học môn Toán của học sinh
													trở nên dễ dàng hơn. Bộ sách có nội dung bám sát chương
													trình sách giáo khoa Toán được ban hành bởi Bộ Giáo dục
													Singapore.</span>
											</p>
											<p style="text-align: justify;">
												<span><br> </span><strong><span>&nbsp;
														&nbsp; &nbsp;</span></strong><span>Mỗi cuốn sách được xây dựng nhằm
													tạo nên một nền tảng tốt cũng như để hỗ trợ và tăng cường
													cho việc học Toán của các em học sinh. Các dạng bài tập
													được sắp xếp khoa học với mức độ khó dễ xen kẽ, giúp các em
													hiểu kỹ hơn về các khái niệm Toán học, cũng như kích thích
													khả năng tư duy phán đoán. Đối với những học sinh ở lứa
													tuổi nhỏ, những cuốn sách này giống như một sự chuẩn bị hấp
													dẫn để thu hút sự quan tâm của các em nhằm làm quen với môi
													trường học tập trong tương lai. Điều đó cũng giúp các em
													hứng thú làm bài tập và hướng các em từng bước tiến tới làm
													chủ Toán học. Trên thực tế, việc thực hành thường xuyên và
													nhất quán là điều cần thiết để có một nền tảng Toán học
													tốt.</span>
											</p>
											<div class="clear"></div>
										</div>
									</div>

								</div>
								<div class="clear"></div>
								<div id="desc_viewmore" class="desc_viewmore"
									style="display: block;">
									<div class="showmore-content">
										<input type="button" id="btn_showmore" value="Xem Thêm">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			/* 	window.addEventListener('load', function() {
					console.log("load event")		
				}); */

			const addToCartBtn = document.getElementById('addToCart');
			addToCartBtn.addEventListener('click', addToCart)

			function addToCart() {
				const productName = document.getElementById('productName');
				const productImage = document.getElementById('productImage');
				const productPrice = document.getElementById('productPrice');
				const productAmount = document.getElementById('productAmount');
				
				let cartDTO = {
						productId: addToCartBtn.getAttribute('data-id'),
						productName: productName.textContent,
						productImage: productImage.getAttribute('data-src'),
						productPrice: productPrice.getAttribute('data-price'),
						productAmount: productAmount.value
				}
				
				console.log(cartDTO);
				
				axios.post('/api/cart/addToCart',cartDTO)
				  .then(function (response) {
					  location.reload();
				  })
				  .catch(function (error) {
				    alter('san pham da het hang vui long chon san pham khac')
				  });
			}
		</script>
		<!-- =============================== [END] ==================================== -->

		<!-- =============================== [FOOTER] =================================-->
		<!-- * FOOTER * -->
		<th:block layout:insert="~{fragments/client/footer}" />
		<!-- =============================== [END] ===================================-->


	</th:block>


</th:block>