<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client-layout}">

	<th:block layout:fragment="content">

		<link rel="stylesheet" th:href="@{/css/product.css}">

		<!-- =============================== [HEADER] =================================-->
		<section class="header" id="header">

			<!-- * Header 1 * -->
			<th:block layout:insert="~{fragments/client/header}" />

			<!-- * Header-Breadcrumbs * -->
			<!-- <th:block layout:insert="~{fragments/client/header-breadcrumb}" /> -->

		</section>
		<!-- =============================== [END] ====================================-->

		<style>
.block-content ol {
	list-style-type: none;
}
</style>

		<!-- =============================== [MAIN-CONTAINER] =========================-->
		<div class="main-container" id="main-container">
			<div class="container-1">
				<div class="container-inner">


					<!-- * LOGIN * -->
					<th:block layout:insert="~{fragments/client/login}" />

					<div>
						<div style="background-color: transparent !important;">
							<div class="mb-breadcrumbs">
								<div id="ves-breadcrumbs" class="breadcrumbs hidden-xs">
									<div class="container-inner breadcrumbs">
										<ol class="breadcrumb">
												<li class="home"><a href="https://www.fahasa.com/"
												title="Tới trang chủ">Trang chủ</a> <span>/ </span></li>
												<th:block th:if="${viewName=='resultSearch'}">
													<li class="category201" id="categoryId"><strong>Kết quả tìm kiếm</strong></li>
												</th:block>
												<th:block th:if="${viewName=='resultList'}">
													<th:block th:each="parent : ${parentCategories}">
													<li class="category4"><a
													href="https://www.fahasa.com/sach-trong-nuoc.html" title="" th:text="${parent.categoryName}"></a> <span>/ </span></li>
													</th:block>
									
													<li class="category201" id="categoryId" th:data-cat-id="${category.id}"><strong th:text="${category.categoryName}"></strong></li>
										
												</th:block>
												</ol>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- * Product Container * -->
					<div class="main-products">
						<div class="row" style="margin: 0; margin-top: 10px;">
							<!-- Products -->
							<div class="col-12">
								<div class="mb-content">
									<div class="row p-3" style="background-color: white;">
										<div class="mr-3">
											<p>Sắp Xếp:</p>
										</div>
										<div class="form-group mr-3">
										    <select class="form-control" id="order">
										      <option value="num_orders">Bán chạy nhất</option>
										      <option value="product_highlight">Nổi bật</option>
										      <option value="price_orders">Giá bán</option>
										      <option value="created_at">Mới nhất</option>
										    </select>
										  </div>
										<div class="form-group mr-3">
										    <select class="form-control" id="limit">
										      <option value="12">12 sản phẩm</option>
										      <option value="24">24 sản phẩm</option>
										      <option value="48">48 sản phẩm</option>
										    </select>
										  </div>
										  <br>
										  <hr style="width:100%;height:2px;border-width:0;color:gray;background-color:gray">
										  
									</div>
									<div class="category-products row">
										<ul id="products_grid" class="products-grid row fhs-top">

											<li class="col-3" th:each="product : ${productList}">
												<div class="label-pro-sale">
													<span class="p-sale-label discount-l-fs"
														th:text="${product.promotionValue + '%'}"></span>
												</div>
												<div class="item-inner">
													<div class="ma-box-content">
														<div class="products clearfix">
															<div class="product images-container">
																<a th:href="@{/san-pham/{productId}(productId=${product.productId})}"
																	class="product-image"> <span class="product-image">
																		<img
																		th:src="@{/images/{image}(image=${product.imageUrl})}"
																		width="240" height="270" alt="">
																</span>
																</a>
															</div>
															<div class="price-label">
																<div class="price-box">
																	<div class="price-box">
																		<span id="product-price-115545" class=""> <span
																			class="price">
																				<div class="price-box">
																					<p class="special-price">
																						<span class="price-label">Giảm giá: </span>
																						<span class="price"
																							th:text="${product.productPrice + '&nbsp;VND'}">57.000&nbsp;đ</span>
																					</p>
																					<p class="old-price bg-white">
																						<span class="price-label">Giá bìa: </span><span
																							class="price" th:text="${product.productPrice + '&nbsp;VND'}">76.000&nbsp;đ</span>
																					</p>
																				</div>
																		</span>
																		</span>
																	</div>
																</div>
															</div>
														</div>
														<h2 class="product-name p-name-list">
															<a
																th:href="@{/san-pham/{productId}(productId=${product.productId})}" th:text="${product.productName}"></a>
														</h2>
													</div>
												</div>
											</li>

										</ul>
										
										<div class="p-3" style="width: 100%; display: flex;justify-content: center;">
										
											<nav aria-label="Page navigation example" id="page">
											  
											</nav>
										
										</div>
										
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- =============================== [END] ==================================== -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript">
		
			window.onload = paginationHTML(1);
		
			let category_id = document.getElementById("categoryId").getAttribute("data-cat-id");
			let order_by = document.getElementById('order');
			let page_current = document.getElementById('page').querySelectorAll('.active')[0].querySelectorAll('a')[0].textContent;
			let limit = document.getElementById('limit');
			
			order_by.addEventListener('change', loadProductsSort);
			limit.addEventListener('change', loadProductsSort);
			
			function loadProductsSort() {
				axios.get('/api/catalog', {
					params: {
						category_id: category_id,
						order_by: order_by.value,
						page: parseInt(page_current),
						limit: parseInt(limit.value)
					}
				})
				.then(function (res) {
					let products = res.data;
					let products_grid = document.getElementById('products_grid');
					products_grid.innerHTML = "";
					
					products.forEach((product) => productHTML(product,products_grid));
				})
				.catch((err) => console.error(err))
				
			}
			
			function loadProductsPageChange(page) {
				axios.get('/api/catalog', {
					params: {
						category_id: category_id,
						order_by: order_by.value,
						page: parseInt(page),
						limit: parseInt(limit.value)
					}
				})
				.then(function (res) {
					let products = res.data;
					let products_grid = document.getElementById('products_grid');
					products_grid.innerHTML = "";
					
					products.forEach((product) => productHTML(product,products_grid));
					
					paginationHTML(page);
				})
				.catch((err) => console.error(err))
			}
			
			function productHTML(product, renderEL) {
				renderEL.innerHTML += `
					<li class="col-3">
					<div class="label-pro-sale">
						<span class="p-sale-label discount-l-fs">${product.promotionValue}%</span>
					</div>
					<div class="item-inner">
						<div class="ma-box-content">
							<div class="products clearfix">
								<div class="product images-container">
									<a href="/san-pham/${product.productId}"
										class="product-image"> <span class="product-image">
											<img src="/images/${product.imageUrl}"
											width="240" height="270">
									</span>
									</a>
								</div>
								<div class="price-label">
									<div class="price-box">
										<div class="price-box">
											<span id="product-price-115545" class=""> <span
												class="price">
													<div class="price-box">
														<p class="special-price">
														<span class="price-label">Giảm giá: </span>
															<span class="price">${product.productPrice}&nbsp;đ</span>
														</p>
														<p class="old-price bg-white">
															<span class="price-label">Giá bìa: </span><span
																class="price">${product.productPrice}&nbsp;đ</span>
														</p>
													</div>
											</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<h2 class="product-name p-name-list">
								<a
									href="/san-pham/${product.productId}">${product.productName}</a>
							</h2>
						</div>
					</div>
				</li>
				`;
			}
			
			function paginationHTML(currentPage) {
				let paginationEL = document.getElementById('page');
				
				paginationEL.innerHTML = `
				      <ul class="pagination">
				        <li class="page-item ${currentPage === 1 ? 'disabled' : ''}" onClick="loadProductsPageChange(${currentPage - 1})">
				          <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="true">Previous</a>
				        </li>
				        ${currentPage === 1 ? "" : 
				        `<li class="page-item" onClick="loadProductsPageChange(${currentPage - 1})">
				          <a class="page-link" href="javascript:void(0)">${currentPage - 1}</a>
				        </li>`
				        }
				       
				        <li class="page-item active" >
				          <a class="page-link" href="javascript:void(0)">${currentPage}</a>
				        </li>
				        <li class="page-item" onClick="loadProductsPageChange(${currentPage + 1})">
				          <a class="page-link" href="javascript:void(0)">${currentPage + 1}</a>
				        </li>
				        <li class="page-item" onClick="loadProductsPageChange(${currentPage + 1})">
				          <a class="page-link" href="javascript:void(0)">Next</a>
				        </li>
				      </ul>
				  `;
			}
			
		</script>
		<!-- =============================== [FOOTER] =================================-->
		<!-- * FOOTER * -->
		<th:block layout:insert="~{fragments/client/footer}" />
		<!-- =============================== [END] ====================================-->


	</th:block>

</th:block>